<h1>LET'S PLAY A GAME...</h1>

type X, and just X, please :) . and then click the "Make a move" button!


<form action="/api/makeMove">
  <table class="board" style="width:50%;border: 1px solid black">
    {% for x in 0..2 %}
      <tr class="row" style="border: 1px solid black">
        {% for y in 0..2 %}
          <td class="cell" style="border: 1px solid black">
            <input type="input" name="{{x}}-{{y}}">
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <input type="submit" name="move" value="Make a move">
</form>

<div class="gameover" style="display:none">
  <h2>GAME OVER</h2>
</div>

{% block javascripts %}
{#    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>#}
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}